/* --------------------- PUSH -------------------------- */
pre {
    white-space: pre-wrap;
    background-color: #EEEEEE;
    padding: 16px;
}
  
pre code {
    word-break: break-word;
}

.is-invisible {
   opacity: 0;
}